global:
  scrape_interval: 15s

  external_labels:
    monitor: 'railway-prom'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'grafana'
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets: ['grafana.affiliapass.com']

  - job_name: 'nodejs-api'
    metrics_path: /monitoring/metrics
    scheme: https
    authorization:
      type: ApiKey
      credentials: ${AFFILIAPASS_API_KEY}
    static_configs:
      - targets: ['api.affiliapass.com']
      
